*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color:#fff;
}
html,
body{
  height: 100%;
  width: 100%;
  background-color: #111;
}
.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card{
  width: 300px;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #333;
}
.card img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 10px;
}
.card p{
  margin: 20px 0px;
}
.card button{
  padding: 10px 20px;
  background-color: white;
  color: black;
  border:none;
  border-radius: 5px;
}